 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-3285196.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 244px 633px 0 0;
}

.u-section-1 .u-text-2 {
  margin-bottom: 60px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 433px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 243px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    font-size: 1.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-list-1 {
  width: 854px;
  margin: -92px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 303px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 32px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 32px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 32px auto 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-5 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-5 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 32px auto 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-6 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 32px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 786px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 575px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 709px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  line-height: 1.2;
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 49px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 709px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 50px 29px;
}

.u-section-3 .u-image-1 {
  height: 402px;
  object-position: 50% 39.72%;
  width: 328px;
  margin: 0 85px 0 0;
}

.u-section-3 .u-text-2 {
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 71px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 349px;
    width: 285px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 29px 8px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 4px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    margin-left: 2px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 877px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  width: 428px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 42px) calc(33.3333% - 42px) calc(33.3333% - 42px);
  min-height: 494px;
  grid-gap: 63px 63px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-4 .u-image-1 {
  width: 183px;
  height: 183px;
  background-image: url("images/cc24004b-3648-459a-a427-92b968bd416b.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-4 .u-image-2 {
  width: 183px;
  height: 183px;
  background-image: url("images/8fd61bc0-5bae-1121-8583-3332d09cf9eb.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-4 .u-image-3 {
  width: 183px;
  height: 183px;
  background-image: url("images/rttyrrt.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-4 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42px));
    min-height: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
    min-height: 935px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 19px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 893px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 76px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  width: 428px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 42px) calc(33.3333% - 42px) calc(33.3333% - 42px);
  min-height: 1051px;
  grid-gap: 63px 63px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-1 {
  width: 183px;
  height: 183px;
  background-image: url("images/2743630793-01.jpeg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-2 {
  width: 183px;
  height: 183px;
  background-image: url("images/abeae987a6f362b2cf8f4ccb5fc2c1efe2d3b6de1b7fef75bc8fc2e615714b65c2f3d2e648b2a0e1796d6fc39a2d3bc84f1cf7bf79570ab0164c33_1280.jpg");
  background-position: 81.77% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-3 {
  width: 183px;
  height: 183px;
  background-image: url("images/e856549bdcf6d7f80158ddbc19252139bc1e557efc43733d90fdc6f068c5a8fdb23078d420b71f88b76582c1959e3f38c8e811110ecd823bdf985a_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-4 {
  width: 183px;
  height: 183px;
  background-image: url("images/1e217ec466cdb1559855dffd989f7a546bbd253bc9c4df1f0ccc17b2ca810b61b75180807e2513938370ba1abfef1c91c8592044246801f49c63a4_1280.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-9 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-10 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-5 {
  width: 183px;
  height: 183px;
  background-image: url("images/gb2f64843c72889c4e0a0e099b1273be08b45d461152cf0c28b00550f51a1d31c05747bc52d08c7d664e0840cc358f538_1280.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-11 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-12 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-6 {
  width: 183px;
  height: 183px;
  background-image: url("images/78f2d653375bf3b7a954f658b57ee83d5907753d109805b6a0ffed6b11cdce4f8a184516f31e4c5a98121d692b075229a93eab480c2770e83f0946_1280.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-13 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-14 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42px));
    min-height: 867px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
    min-height: 1494px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 19px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 596px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 59px auto 0 0;
}

.u-section-6 .u-tabs-1 {
  min-height: 394px;
  margin-top: 32px;
  margin-bottom: 59px;
}

.u-section-6 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-6 .u-tab-pane-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 162px 0 0;
}

.u-section-6 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  margin: 30px 306px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 32px 306px 0 0;
}

.u-section-6 .u-text-5 {
  text-align: left;
  margin: 20px 306px 0 0;
}

.u-section-6 .u-text-6 {
  text-align: left;
  margin: 20px 306px 0 0;
}

.u-section-6 .u-text-7 {
  text-align: left;
  margin: 20px 306px 0 0;
}

.u-section-6 .u-text-8 {
  text-align: left;
  margin: 20px 306px 0 0;
}

.u-section-6 .u-text-9 {
  text-align: left;
  margin: 20px 306px 0 0;
}

.u-section-6 .u-tab-pane-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  line-height: 1.8;
  margin: -30px 0 -15px;
}

.u-section-6 .u-tab-pane-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 72px auto 0 0;
}

.u-section-6 .u-text-12 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-tabs-1 {
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 106px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 925px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 805px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 42px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  margin: 47px 0 0;
}

.u-section-7 .u-image-1 {
  width: 381px;
  height: 433px;
  margin: 60px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 805px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-7 .u-icon-1 {
  width: 124px;
  height: 124px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.88889rem;
  font-weight: 400;
  line-height: 2;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-7 .u-image-1 {
    width: 316px;
    height: 359px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 664px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    width: 228px;
    height: 259px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 677px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 978px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  width: 320px;
  margin: 19px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-list-1 {
  margin: 63px 0 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 700px;
  grid-gap: 30px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/b5f9e7f9-f0cf-42fb-96c9-3156bc7d64a2.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-1 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-8 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 0;
}

.u-section-8 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/13064dd8-b859-4a0d-8b5b-0944d529a9c2.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-2 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-7 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-8 .u-text-8 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-8 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 0;
}

.u-section-8 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 186px;
  height: 186px;
  background-image: url("images/gffgfg.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-3 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-8 .u-text-9 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-10 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-8 .u-text-11 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-8 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 0;
}

.u-section-8 .u-icon-9 {
  color: rgb(0, 0, 0) !important;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  width: 186px;
  height: 186px;
  background-image: url("images/76ad54de-76a3-4973-8d72-5982d76db00c.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-4 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-8 .u-text-12 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-13 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-8 .u-text-14 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-8 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 0;
}

.u-section-8 .u-icon-12 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 577px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-group-1 {
    margin-top: -186px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-group-2 {
    margin-top: -186px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-group-3 {
    margin-top: -186px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-group-4 {
    margin-top: -186px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2445px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 59px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-8 .u-image-1 {
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    margin-left: auto;
  }

  .u-section-8 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-8 .u-image-3 {
    margin-left: auto;
  }

  .u-section-8 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-8 .u-image-4 {
    margin-left: auto;
  }

  .u-section-8 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 276px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 59px auto 59px 0;
}

.u-section-9 .u-image-1 {
  min-height: 179px;
  background-image: url("images/5bb6f3372602850d0230d76fd987ffab8f01c5cee6d87c9de1e8cb60319b8d08aee8bed1505c52e646d2a4df57dbac0a2400bdfbdff05068fb1e09_1280.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 179px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-2 {
  height: 145px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-3 {
  width: 183px;
  height: 145px;
  margin: 0 -10px 0 auto;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 179px;
}

.u-section-9 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-4 {
  height: 96px;
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-9 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-5 {
  height: 96px;
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-9 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-image-6 {
  height: 111px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-image-2 {
    height: 120px;
    position: relative;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-image-3 {
    width: 114px;
    height: 92px;
    position: relative;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-9 .u-image-4 {
    height: 79px;
    position: relative;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-9 .u-image-5 {
    height: 79px;
    position: relative;
  }

  .u-section-9 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-9 .u-image-6 {
    height: 92px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-9 .u-image-2 {
    height: 66px;
  }

  .u-section-9 .u-image-3 {
    width: 87px;
    height: 70px;
  }

  .u-section-9 .u-image-4 {
    height: 182px;
  }

  .u-section-9 .u-image-5 {
    height: 182px;
  }

  .u-section-9 .u-image-6 {
    height: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-2 {
    height: 62px;
  }

  .u-section-9 .u-image-3 {
    width: 82px;
    height: 66px;
  }

  .u-section-9 .u-image-4 {
    height: 273px;
  }

  .u-section-9 .u-image-5 {
    height: 273px;
  }

  .u-section-9 .u-image-6 {
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-4 {
    height: 172px;
  }

  .u-section-9 .u-image-5 {
    height: 172px;
  }

  .u-section-9 .u-image-6 {
    height: 200px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 467px;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  width: 426px;
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 3rem;
  width: 746px;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-10 .u-line-1 {
  width: 198px;
  height: 10px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-10 .u-text-3 {
  width: 271px;
  margin: 30px auto -29px;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
    width: 720px;
  }

  .u-section-10 .u-text-3 {
    margin-bottom: -67px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-10 .u-text-3 {
    margin-bottom: -45px;
  }
} .u-section-11 {
  background-image: url("images/pexels-photo-2422294.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 704px;
}

.u-section-11 .u-group-1 {
  width: 827px;
  min-height: 584px;
  background-image: none;
  margin: 60px auto;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  letter-spacing: normal;
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-11 .u-form-1 {
  height: 427px;
  width: 703px;
  margin: 14px auto 0;
}

.u-section-11 .u-label-1 {
  font-weight: 700;
}

.u-section-11 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-11 .u-label-2 {
  font-weight: 700;
}

.u-section-11 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-11 .u-form-group-3 {
  margin-left: 0;
}

.u-section-11 .u-label-3 {
  font-weight: 700;
}

.u-section-11 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-11 .u-form-group-4 {
  margin-left: 0;
}

.u-section-11 .u-label-4 {
  font-weight: 700;
}

.u-section-11 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-11 .u-form-group-5 {
  margin-left: 0;
}

.u-section-11 .u-label-5 {
  font-weight: 700;
}

.u-section-11 .u-input-5 {
  font-size: 1.25rem;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 61px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-11 .u-group-1 {
    min-height: 743px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-form-1 {
    width: 320px;
  }
}